@tailwind base;
@tailwind components;
@tailwind utilities;

.uppy-Dashboard-inner {
  border: none !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
}

[data-uppy-theme=dark] .uppy-Dashboard-browse {
  color: #8f2cd4 !important;
}


.uppy-c-btn:hover {
  border: none !important;
  color: #8f2cd4 !important;
  border-bottom: 1px solid #8f2cd4 !important;
}



.uppy-Dashboard-browse:hover, .uppy-Dashboard-browse:focus {
  border-bottom: 1px solid #8f2cd4 !important;
}

.uppy-Dashboard-Item-previewInnerWrap {
  background-color: #505050 !important;
}

[data-uppy-theme=dark] .uppy-DashboardContent-back {
  color: #ec4899 !important;
}
.uppy-StatusBar-actionBtn--upload {
  background-color: #4b196f !important;
}

.uppy-StatusBar-actionBtn--upload:focus {
  box-shadow: none !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .link-card {
    @apply bg-grey w-[90%] h-[100px] rounded-xl my-4 mx-auto drop-shadow-xl box-border border-accent hover:border-[6px] flex justify-center items-center;
  }
  .link-icon {
    @apply h-6 w-6 text-white basis-2/12
  }
  .link-text {
    @apply font-[arial] text-[1.25rem] font-bold text-white uppercase text-center basis-8/12
  }

  .uppy-Dashboard-browse {
    @apply font-accent;
  }

}